Package: ru.rejail.bazzi
Section: Tweaks
Installed-Size: 336
Maintainer: ReJail <rejail@rejail.ru>
Architecture: iphoneos-arm
Version: 2.0.6
Replaces: com.neinzedd9.percentagebatteryx, com.neinzedd9.percentagecirclex
Depends: mobilesubstrate, preferenceloader, ws.hbang.common, com.rpetrich.rocketbootstrap (>= 1.0.7~beta1)
Conflicts: com.neinzedd9.percentagebatteryx, com.neinzedd9.percentagecirclex
Description: Настройка иконки батареи для iPhone X
Name: Bazzi Rus
Author: Blake Boxberger
Depiction: https://rejail.ru/depiction.php?file=bazzi
SileoDepiction: https://rejail.ru/sileo/depiction.php?file=bazzi
